numpy==1.21.6
torch==1.13.1
fastapi==0.68.0
uvicorn==0.15.0
python-multipart
PyMuPDF==1.21.1
pydantic==1.10.12
sentence-transformers==2.2.2
transformers==4.30.2
faiss-cpu==1.7.4
tqdm
scikit-learn
nltk
